@model DSP_ES_2020_1_CMEI.Models.ClassroomModel

@{
    ViewBag.Title = "DeleteClassroom";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (@Html.BeginForm("DeleteClassroom", "Classroom", FormMethod.Post, new { id = "formDeleteClassroom" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "msgObrigatorio", @style = "display:inline" })

            @Html.HiddenFor(model => model.idClassroom, new { @id = "idClassroom" })

            <div class="modal-body" style="text-align:center; border-top: 5px solid #c32222; border-radius: .3rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <div class="row" style="margin-top:15px">
                    <div class="col-md-12" style="text-align:center">
                        <h2 class="corIconeLixeiraExcluir" style="text-align:center;">
                            Excluir Turma
                        </h2>
                    </div>
                </div>

                <br />
                <div class="container" style="padding:0px 0px 20px 20px">
                    <div style="text-align:left"><label> Código: </label> @Html.DisplayFor(model => model.idClassroom)</div>
                    <div style="text-align:left"><label> Nome: </label> @Html.DisplayFor(model => model.nameClassroom)</div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <p style="color:#808080">Você deseja realmente excluir esse registro?</p>
                    </div>
                </div>

                <div id="btnFormulario">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" autofocus>
                            <i style="display:none" class="fas fa-circle-notch fa-spin fa-circle-notch-submit"></i>
                            Sim
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/Project/CrudClassroom.js"></script>