@model DSP_ES_2020_1_CMEI.Models.ClassroomModel

@{
    ViewBag.Title = "UpdateClassroom";
}

@using (Html.BeginForm("UpdateClassroom", "Classroom", FormMethod.Post, new { id = "formUpdateClassroom" }))
{
    <input name="idLoginAccess" id="idLoginAccess" style="display:none" value="@Model.idLoginAccess" />
    <input name="idClassroom" id="idClassroom" style="display:none" value="@Model.idClassroom" />

    <br />
    <h3><i class="fas fa-file-signature"></i> Dados da Turma</h3>

    <div class="panel">
        <div class="panel-body">
            <div style="padding-left:30px; padding-right:30px">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label> Nome da turma: </label>
                            @Html.EditorFor(model => model.nameClassroom, new { HtmlAttributes = new { @class = "form-control", @placeholder = "Turma A", @required = "", @autofocus = "" } })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>* Turno: </label>
                            @Html.DropDownListFor(model => model.shiftClassroom, new List<SelectListItem>
                            {
                                new SelectListItem{Text = "Matutino", Value = "Matutino"},
                                new SelectListItem{Text = "Vespertino", Value = "Vespertino"},
                                new SelectListItem{Text = "Noturno", Value = "Noturno"},
                            }, "Selecione", new { @class = "form-control form-control-sm", @required = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 style="padding-top:15px"><i class="fas fa-users"></i> Alunos da Turma</h3>

    <div class="panel">
        <div class="panel-body">
            <div style="padding-left:30px; padding-right:30px">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Alunos:</label>
                            @Html.DropDownListFor(model => model.idStudentModel, ViewBag.listClassroomStudent as IEnumerable<SelectListItem>, "Selecione", new { @class = "form-control form-control-sm chosen-select", @id = "student" })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div style="text-align: left;">
                            <label><br /></label>
                            <div class="form-group">
                                <button id="btnAddStudent" onclick="addStudentTable()" type="button" class="btn btn-info"><i class="fas fa-plus-circle"></i> Adicionar Aluno</button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover" id="tblStudent">
                    <thead>
                        <tr>
                            <th class="bg-info">#</th>
                            <th class="bg-info">Cód</th>
                            <th class="bg-info">Nome</th>
                            <th class="bg-info">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.listClassroomStudent.Count; i++)
                        {
                            <tr>
                                <td>@(i+1)</td>
                                <td>@Model.listClassroomStudent[i].idStudent</td>
                                <td>@Model.listClassroomStudent[i].Student.nameStudent</td>
                                <td><button class="btn btn-xs btn-danger" onclick="removeStudent(this)" type="button"><i class="fas fa-minus-circle"></i> Remover</button></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <h3 style="padding-top:15px"><i class="far fa-file-alt"></i> Plano de Ensino</h3>

    <div class="panel">
        <div class="panel-body">
            <div style="padding-left:30px; padding-right:30px">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label> Descrição da atividade: </label>
                            @Html.EditorFor(model => model.TeachingPlan.activityDescription, new { HtmlAttributes = new { @class = "form-control", @placeholder = "Atividade: Pintando o alfabeto", @id = "activityDescription" } })
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div style="text-align: left;">
                            <label><br /></label>
                            <div class="form-group">
                                <button id="btnTeachingPlan" onclick="addTeachingPlanTable()" type="button" class="btn btn-info"><i class="fas fa-plus-circle"></i> Adicionar </button>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover" id="tblTeachingPlan">
                    <thead>
                        <tr>
                            <th class="bg-info">#</th>
                            <th class="bg-info">Cód</th>
                            <th class="bg-info">Descrição da atividade</th>
                            <th class="bg-info">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.listTeachingPlan.Count; i++)
                        {
                            <tr>
                                <td>@(i+1)</td>
                                <td>@Model.listTeachingPlan[i].idTeachingPlan</td>
                                <td>
                                    <input type="tel" class="form-control" id="activityDescription-@(i+1)"
                                           value="@Model.listTeachingPlan[i].activityDescription">
                                </td>
                                <td><button class="btn btn-xs btn-danger" onclick="removeTeachingPlan(this, @Model.listTeachingPlan[i].idTeachingPlan)" type="button"><i class="fas fa-minus-circle"></i> Remover</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-8 col-md-2">
            <a href="javascript:history.back()" class="btn btn-lg btn-default pull-right">
                Voltar para minhas Turmas
            </a>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-lg btn-info pull-right">
                <i class="fas fa-save"></i>
                Salvar Turma
            </button>
        </div>
    </div>
}

<script src="~/Scripts/Project/CrudClassroom.js"></script>