@model DSP_ES_2020_1_CMEI.Models.StudentModel

@{
    ViewBag.Title = "ListStudent";
}

<br />

<div class="row">
    <div class="col-md-4">
        <strong style="font-size:25px">Lista de Alunos</strong>
    </div>

    @using (Html.BeginForm("ListStudent", "Student", FormMethod.Post, new { id = "formStudent", enctype = "multipart/form-data" }))
    {
        <input name="idLoginAccess" id="idLoginAccess" value="@Model.idLoginAccess" style="display:none" />

        <div class="col-md-4">
            <div class="form-group pull-righ">
                <label for="exampleFormControlFile1">Importar arquivo</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" name="arquivoCsv">
            </div>
        </div>

        <div class="col-md-2" style="padding-top:10px">
            <button type="submit" class="btn btn-info pull-right">
                <span class="glyphicon glyphicon-import"></span>
                Importar Alunos
            </button>
        </div>

        <div class="col-md-2" style="padding-top:10px">
            <button type="button" onclick="exportStudent()" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-export"></span>
                Exportar Alunos
            </button>
        </div>
    }
</div>

<div class="panel">
    <div class="panel-body">
        <table class="table table-hover" id="tblStudent">
            <thead>
                <tr>
                    <th class="bg-info">Nº Matrícula</th>
                    <th class="bg-info">Nome</th>
                    <th class="bg-info">Data de Nascimento</th>
                    <th class="bg-info">Turma</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.listStudentModel != null && Model.listStudentModel.Count > 0)
                {
                    foreach (var item in Model.listStudentModel)
                    {
                        <tr>
                            <td>@item.registrationNumber</td>
                            <td>@item.nameStudent</td>
                            <td>@string.Format("{0:dd/MM/yyyy}", item.birthDate)</td>
                            <td>@item.nameClassroomModel</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" style="text-align:center">Nenhum aluno foi importado...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a id='downloadExcel' style="display:none;" download="alunoExportado.xlsx"></a>

<script>

    $('#formStudent').unbind('submit').bind('submit', function (e) {
        e.preventDefault();

        if (!$(this).valid()) {
            return false;
        }
        else {
            var form = new FormData($('#formStudent')[0]);

            $.ajax({
                type: 'POST',
                url: '../Student/ImportStudent',
                data: form,
                processData: false,
                contentType: false,
                beforeSend: function () {

                },
                success: function (data) {
                    if (data.type === 0) {
                        confirmMsgSuccess(data.msg, '../Student/ListStudent');
                    }
                    else if (data.type === 1) {
                        confirmMsgWarning(data.msg);
                    }
                    else {
                        confirmMsgError(data.msg);
                    }
                },
                error: function (request, status, error) {
                    confirmMsgError("Erro desconhecido");
                }
            });
        }
    });

    function exportStudent() {
        var form = new Object();
        form.listStudentModel = new Array();

        form.idLoginAccess = $("#idLoginAccess").val();

        $('#tblStudent > tbody > tr').each(function (i, linha) {
            var obj = new Object();

            obj.registrationNumber = $(linha).find('td:eq(0)').text();
            obj.nameStudent = $(linha).find('td:eq(1)').text();
            obj.birthDate = $(linha).find('td:eq(2)').text();
            obj.nameClassroomModel = $(linha).find('td:eq(3)').text();

            form.listStudentModel.push(obj);
        });

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '../Student/ExportStudent',
            data: JSON.stringify({ form: form }),
            beforeSend: function () {

            },
            success: function (data) {
                if (data.type === 0) {
                    //Gera um link com download do arquivo xml
                    var arquivo = 'data:application/octet-stream;base64,' + data.excelBase64;
                    var linkDownload = document.getElementById('downloadExcel');
                    linkDownload.href = arquivo;
                    linkDownload.click();
                }
                else if (data.type === 1) {
                    confirmMsgWarning(data.msg);
                }
                else {
                    confirmMsgError(data.msg);
                }
            },
            error: function (request, status, error) {
                confirmMsgError("Erro desconhecido");
            }
        });
    }

</script>